<settings>
  <servers>
    <server>
      <id>anypoint-repo</id>
      <username>U2FsdGVkX19P/8J9q6owvH1wfJa4JQfkOoXVPLXx+UHJfgZDi8rBPu3zn3/DkPvxPgrhnOVNzAwpNCg1Jsfxpw==</username>
      <password>U2FsdGVkX1/7ntbcUaT9rGd8CGZYp1pn9rnI7QnkxOIx13eUb5uwl69cAJCR25PS9MXigETYxb1lJsT3fBdgTQ==</password>
    </server>
    <server>
      <id>github-repo</id>
      <username>U2FsdGVkX19ULGwe6svsuRABAzjGSj6lCNJVUsOG3w4ib2gFYDwLbRApmE7LW+kH</username>
      <password>U2FsdGVkX1/jwi/JjQBEojuWaiATAyVhWC0FxAWHW+3fkrjfTlo54G7gZRYZ9qA+8DhhPiiUjfdL8xk6k/NkNA==</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>anypoint-profile</id>
      <properties>
        <anypoint.clientId>U2FsdGVkX19P/8J9q6owvH1wfJa4JQfkOoXVPLXx+UHJfgZDi8rBPu3zn3/DkPvxPgrhnOVNzAwpNCg1Jsfxpw==</anypoint.clientId>
        <anypoint.clientSecret>U2FsdGVkX1/7ntbcUaT9rGd8CGZYp1pn9rnI7QnkxOIx13eUb5uwl69cAJCR25PS9MXigETYxb1lJsT3fBdgTQ==</anypoint.clientSecret>
      </properties>
    </profile>
    <profile>
      <id>github-profile</id>
      <properties>
        <github.email>U2FsdGVkX19ULGwe6svsuRABAzjGSj6lCNJVUsOG3w4ib2gFYDwLbRApmE7LW+kH</github.email>
        <github.token>U2FsdGVkX1/jwi/JjQBEojuWaiATAyVhWC0FxAWHW+3fkrjfTlo54G7gZRYZ9qA+8DhhPiiUjfdL8xk6k/NkNA==</github.token>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>anypoint-profile</activeProfile>
    <activeProfile>github-profile</activeProfile>
  </activeProfiles>
</settings>
