<settings>
  <servers>
    <server>
      <id>anypoint-repo</id>
      <username>U2FsdGVkX1/jMJA4cPQg9qpaDqCwuv4vnBo0zlNBMd7wCrg7sUGyE5UKLS5/B/HJDss27vJERcmHANGiwS+UuQ==</username>
      <password>U2FsdGVkX18vJToXFeWm9ltG8S/SJ4nCEhacU1TB2N3qRCGLxXIvoEoQSg2H55aZB27KtzTuNNKrgkqpm9KVwQ==</password>
    </server>
    <server>
      <id>github-repo</id>
      <username>U2FsdGVkX19oGQRGOIhDX6PG/P6TtR9k3/nKqaOGxaIuxwRwwdPLrJW9HPPzmXXz</username>
      <password>U2FsdGVkX18XnlnMo79xYKt5YP9kVudOmpOZa2ZCdmv2EnfA64uaLtSCB/nyv3xRI8PHeydHylphaRn2A171Pg==</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>anypoint-profile</id>
      <properties>
        <anypoint.clientId>U2FsdGVkX1/jMJA4cPQg9qpaDqCwuv4vnBo0zlNBMd7wCrg7sUGyE5UKLS5/B/HJDss27vJERcmHANGiwS+UuQ==</anypoint.clientId>
        <anypoint.clientSecret>U2FsdGVkX18vJToXFeWm9ltG8S/SJ4nCEhacU1TB2N3qRCGLxXIvoEoQSg2H55aZB27KtzTuNNKrgkqpm9KVwQ==</anypoint.clientSecret>
      </properties>
    </profile>
    <profile>
      <id>github-profile</id>
      <properties>
        <github.email>U2FsdGVkX19oGQRGOIhDX6PG/P6TtR9k3/nKqaOGxaIuxwRwwdPLrJW9HPPzmXXz</github.email>
        <github.token>U2FsdGVkX18XnlnMo79xYKt5YP9kVudOmpOZa2ZCdmv2EnfA64uaLtSCB/nyv3xRI8PHeydHylphaRn2A171Pg==</github.token>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>anypoint-profile</activeProfile>
    <activeProfile>github-profile</activeProfile>
  </activeProfiles>
</settings>
